.container input {
    background: #000000;
    border : 1.5px solid #fff;
    border-radius: 5px;
    padding: 13px 50px;
    color: #fff;
}

.container button {
    background-color: rgb(107 104 222);
    border : none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    width : 275px;
    cursor : pointer;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
}

.container a {
    font-size: 15px;
    cursor: pointer;
    border-right: #fff solid 1px;
    padding: 0 5px;
}

.container a:nth-child(3) {
    border :none;
}